*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'poppins';
}

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe7cd;
}

.main{
    height: 85%;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    /* border: 2px solid black; */
}

.left{
    height: 100%;
    width: 25%;
    background-color: #e6535a;
    border-radius: 20px 0 0 20px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: Center;
}

.web-title{
    width: 100%;
    height: 10%;
    padding: 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 350;
}

.progress{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle{
    height: 190px;
    width: 190px;
    border: 5px solid #b44345;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle1{
    color: #ffffff;
    font-weight: 500;
    font-size: 25px;
}

.circle2{
    color: #ffffff;
    font-weight: 300;
    font-size: 15px;
}

.icons{
    height: 16px;
    margin-right: 3px;
    color: #ffffff;
}

.tabs{
    width: 100%;
    height: 50%;
}

.tabs div{
    width: 100%;
    height: 55px;
    padding-left: 15px;
    gap: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    color: #ffffff;
    font-size: 15px;
}

.symptoms{
    border-left: 4px solid #ffffff;
    border-radius: 3px 0 0 3px;
    margin-left: 1.5px;
}



.right{
    height: 100%;
    width: 75%;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0 50px 0;
}

.r1{
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:Center;
}

.step{
    color: #9b9b9b;
}

.text1{
    color: #181818;
    font-weight: 600;  
}

.text2{
    color: #181818;
    font-weight: 420;  
}

.r2{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.search-box{
    width: 500px;
    height: 40px;
    background-color: #ececec;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-icon{
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-search-box{
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-search-box input{
    height: 100%;
    width: 100%;
    background: none;
    border: none;
}

input:active{
    border: white;
}

.common-symp{
    height: 200px;
    width: 550px;
}

.head-text{
    font-weight: 370;
    font-size: 13.5px;
}

.r3{
    height: 20%;
    width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.previous{
    border: none;
    /* border: 2px solid yellow; */
    width: 100px;
    height: 35px;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    color: #9b9b9b;
    cursor: pointer;
    font-weight: 440;
}

.previous:active{
    background-color:#e2e2e2;
}

.next{
    border: none;
    background-color:#e6535a;
    color:#ffffff;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    font-weight: 440;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.next:active{
    opacity: .8;
}